{{#*inline "content"}}
<div id="cvlist">
<h1 class="mt-5">Curriculum Vitae</h1>
<b>Persoonlijke gegevens</b>
<p>Voornaam: Oscar </br>
    Achternaam: Veldman </br>
    Adres: ******** </br>
    Telefoonnummer: **********</br>
    E-mail: oveldman@gmail.com</br>
    Geboorte: 10 september 1994 Rotterdam </br>
    Nationaliteit: Nederlands </br>
    Geslacht: Man </br>
    Status: Ongehuwd </br>
    Rijbewijs: B </br>
    Linkedln: <a href="https://www.linkedin.com/in/oveldman">https://www.linkedin.com/in/oveldman</a> </br>
    Persoonlijkheid: Mijn karakter is te beschrijven als optimistisch, enthousiast en sociaal. Ik 
                    ben leergierig </br> en ik pak graag direct het probleem aan. Daarnaast ben ik 
                    ambitieus.
 </p>

 <table style="width:100%">
  <tr>
      <th colspan="2"><b>Opleiding</b></th>
  </tr>
  <tr>
      <td>09/2014 - heden</td>
      <td><u>Informatica</u></br>
    Hogeschool Rotterdam</br>
    Verwachte afstudeerdatum: 15/05/2018</td>
  </tr>
  <tr>
      <td>09/2013 – 01/2014</br>
          (Niet afgerond)
      </td>
        <td><u>Civiele Techniek</u></br>
    Hogeschool Rotterdam</td>
  </tr>
  <tr>
        <td>09/2006 - 05/2013</td>
        <td><u>Hoger algemeen voortgezet onderwijs (Havo) – Natuur en Techniek</u></br>
    Comenius College Lijstersingel </td>
  </tr>
  <tr>
      <td> </td>
      <td> </td>
  </tr>
  <tr>
      <th colspan="2"><b>Cursussen</b></th>
  </tr>
    <tr>
        <td>09/2015 – 11/2015</br>
            (2 uur per week)
        </td>
        <td><u>Interne Peercoach training</u>, Hogeschool Rotterdam, Rotterdam</br>
    Training over hoe je moet coachen, communiceren en presenteren.  </td>
  </tr>
  <tr>
      <td> </td>
      <td> </td>
  </tr>
  <tr>
      <th colspan="2"><b>Werkervaringn</b></th>
  </tr>
    <tr>
      <td>03/2018 - heden</br>
          (416 uur per week)
      </td>
      <td><u>Support</u>, Bugs Business, Rotterdam</br>
          Het verbeteren van software fouten en de klanten helpen met een oplossing. </br>
          Bugs business werkt met C#. 
        </td>
  </tr>
  <tr>
      <td>09/2015 – 06/2017</br>
          (4 uur per week)
      </td>
      <td><u>Peercoach</u>, Hogeschool Rotterdam, Rotterdam</br>
          Coaching van eerstejaars studenten. Dit houdt in dat je ze helpt bij lesstof,  </br>
  	de weg door school wijzen en ervaringen delen.  
        </td>
  </tr>
    <tr>
      <td>01/2014 – 06/2014</br>
          (20 uur per week)
      </td>
      <td><u>Technische Dienst</u>, De meerpaal, Capelle aan den IJssel</br>
          Bijklussen in de schippersinternaat. Dit valt onder verven, schuren </br>
            schoonmaken, opruimen en helpen waar nodig was
</td>
  </tr>
  <tr>
      <td> </td>
      <td> </td>
  </tr>
  <tr>
      <th colspan="2"><b>Hobby's</b></th>
  </tr>
  <tr>
      <td> </td>
      <td>Computer(Programmeren &amp; Videobewerking)</td>
  </tr>
    <tr>
      <td> </td>
      <td>Voetbal</td>
  </tr>
  <tr>
      <td> </td>
      <td> </td>
  </tr>
  <tr>
      <th colspan="2"><b>Overige informatie</b></th>
  </tr>
  <tr>
          <td>Talenkennis:</td>
      <td>Nederlands: Goed</td>
  </tr>
  <tr>
          <td> </td>
      <td>Engels: Redelijk</td>
  </tr>
  <tr>
      <td> </td>
      <td> </td>
  </tr>
  <tr>
      <td>Computer kennis:</td>
      <td>Java: Goed</td>
  </tr>
    <tr>
      <td> </td>
      <td>HTML &amp; CSS: Goed</td>
  </tr>
    <tr>
      <td> </td>
      <td>C#: Goed</td>
  </tr>
  <tr>
      <td> </td>
      <td>Javascript: Goed</td>
  </tr>
<tr>
      <td> </td>
      <td>Rust: Redelijk</td>
  </tr>
  <tr>
      <td> </td>
      <td>C++: Redelijk</td>
  </tr>
  <tr>
      <td> </td>
      <td>PHP: Redelijk</td>
  </tr>
  <tr>
      <td> </td>
      <td>Linux: Redelijk</td>
  </tr>
    <tr>
      <td> </td>
      <td>Phyton: Basis</td>
  </tr>
  
</table>

</div>
<div id="cvphoto">
    <img src="/content/img/oscar.png" height="200px">
</div>&nbsp;
</div>
{{/inline}}
{{~> layout/standard~}}