{{#*inline "content"}}
<h1 class="mt-5">Leerdoelen</h1>
<h4>Terugblik op de studie</h4>
<p>De afgelopen vier heb ik veel geleerd van de opleiding. Ik ben veel op vooruit gegaan. Dat zie je aan de snelheid en de gemakkelijkheid hoe ik programmeer probleem oplos. Aan het begin van de opleiding wist ik niet zo veel van programmeren, maar ik had van te voren al onderzocht wat programmeren is. Nu ga ik ook niet gelijk programmeren aan een project, maar ik ga eerst bedenken hoe ik een project ga opzetten door middel van bijvoorbeeld UML diagrammen. Dankzij de opleiding ben ik ook begonnen met een paar hobby projecten, daardoor heb ik nu heel veel plezier in het programmeren. </p> 
<p>De afgelopen jaren heb ik nog wat dingen gemist. Ik heb nu een bijbaan bij een bedrijf. Er zou misschien meer met de theorie een aansluiting moeten worden gevonden met het bedrijfsleven. Bijvoorbeeld meer uitleg van structuren die veel gebruikt wordt in het bedrijfsleven. Verder had ik ook iets van de hardware willen leren. Ik weet van sommige onderwerpen wat het doet, maar we hebben helemaal geen les gehad over de impact of hoe de server met onze software omgaat. </p>
<p>De zwaarte van de opleiding is mij heel erg meegevallen. Er zaten misschien vakken bij die voor mij moeilijk waren, maar ik had genoeg tijd om de vakken te leren en te begrijpen. Op een bepaald moment verbaasde het me hoeveel code ik kon typen binnen een bepaalde tijd en hoe goed een programma kon worden die je zelf geschreven had. </p>
<p>Wat tegen viel was dat ik achter me de hele opleiding zag veranderen. Dit was wel ten goede van de opleiding. Als peercoach kon ik nog een beetje van die informatie mee pikken. Ook vond ik de gezelligheid van de klasgenoten tegenvallen. De sfeer was heel goed in alle klassen, maar de meeste klasgenoten wilden zo snel mogelijk naar huis.</p> 
<p>In de toekomst zou ik me graag tot security experts willen ontwikkelen. Na de opleiding zou ik graag cursussen volgen en hobby projecten willen ontwikkelen. Ik blijf ook naar evenementen gaan die de Minor Security heeft aanbevolen, zoals Hacker Talk en InfoSecurity. Deze evenementen heb ik veel van geleerd en er was ook veel praktijk gerichte workshops te volgen. Uiteindelijk hoop ik bij een bedrijf te komen waar ik de security kan verbeteren. Hierdoor krijg je werkervaring en dat wordt je ook gelijk beter in het vak, terwijl je betaalt krijgt. </p> 
<p>Tops: 
<ul>
    <li>Het niveau van de (nieuwe) leraren.</li>
    <li>Peercoaches voor de begeleiding van eerste jaars.</li>
    <li>De evenementen waren heel interessant en leuk. Vooral die van de Minor Security Lab. </li>
    <li>Het niveau van de lessen was hoog. Vooral die van het derde en het vierde jaar. </li>
</ul>
</p>
<p>
Tips:
<ul>
    <li>Soms kan de commutatie of sneller naar de studenten toe.  </li>
    <li>De projecten kunnen heel groot aanvoelen in verband met groepen van 5. Er is een hoge kans dat er 1 uitvalt. </li>
    <li>De digitale toets geeft soms problemen. Sommige mensen kunnen pas een kwartier later beginnen. </li>
</ul>
</p>

<h4>Reflecteren studentgerichte acties</h4>
<p>Leerdoel: <b>Aan het einde van periode 4 kan ik programmeren in een low level programeertaal rust</b></p>
<p><i>In progress</i></p>
{{/inline}}
{{~> layout/standard~}}