{{#*inline "content"}}
   
<div class="projectdiv">
<h1 class="mt-5">Projecten - Leerjaar 2</h1>

<h3><b>CityGis Information System</b></h3>

<a><img height="300" src="/content/img/project562.png"></a>

<p>Het was een project van 2 periodes. We moesten een applicatie bouwen voor</br>
CityGis. Ze wilden een informatie system over de voertuigen die ze hadden. De </br>
informatie werd gedownload en in de database gezet. Vervolgens konden de users</br>
op een mooie website zien de informaties over de voertuigen. 
</p>

<h3><b>AIS android app voor schippers</b></h3>

<a><img height="300" src="#"></a>

<p>Dit was ook een project van 2 periodes. We moesten een applicatie bouwen voor</br>
Blue road. Ze wilden dat de schippers schoner zouden gaan varen. Wij maakten een </br>
waar je kon zien hoe schoon je voer. Dit gebeurde aan de hand van de AIS data. </br>
Als een groen lijntje zag, dan was je schoner aan het varen dan het gemiddelde van de </br>
grootte van het schip. 
</p>
</div>
{{/inline}}
{{~> layout/standard~}}