{{#*inline "content"}}
<h1 class="mt-5">Welkom in mijn portfolio!</h1>
<p class="lead">Hier laat ik mijn CV, projecten van school en eventueel andere dingen zien. De hele website is ook in language rust gebouwd. Dit is een onderdeel van mijn leerdoel.</p>
<p>Kijk gerust even rond op mijn website.</p>
<img height="300" src="/content/img/oscar.png"
{{/inline}}
{{~> layout/standard~}}