{{#*inline "content"}}
    
<h3>De leerdoelen met de bewijzen</h3>
<p><b>Leerjaar 2</b></p>
<p><b>OP3:</b></p>
<p><i>1. Aan het eind van de derde periode wil ik een goede en door iemand leesbaar verslag maken.</i></p>
<p>Waarom?</br>
    Omdat het soms moeilijk te lezen is door andere mensen.
</p>
<p>Aangedaan?</br>
    Tijdens de periode heb ik meerdere verslagen geschreven. Deze heb ik na een paar dagen</br>
    opnieuw doorgelezen en nagekeken. Verder heb ik op meerdere sites informatie bekeken </br>
    over grammatica. Dit was om de grammatica regels te verversen bij mij.
</p>
<p>Bewijzen:
<li><a href="https://drive.google.com/file/d/0B9bSVtxk_NptNVJLNHh4ZmhYT2s/view?usp=sharing" target="_blank">Document plan onderzoek</a></li>
<li>Sjors Sparreboom heeft het nagelezen.</li>
<li><a href="http://www.taalwinkel.nl/" target="_blank">Taalwinkel</a></li>
</p>

<p><b>OP4:</b></p>
<p><i>2. Aan het eind van de vierde periode wil ik een goed en vloeiend gesprek kunnen voeren in het Engels met een ander persoon</i></p>

<p>Waarom?</br>
    Mijn gesprekken zijn soms niet vloeiend. Dat komt omdat mijn woordenschat nog niet op orde is.
</p>

<p>
    Planning:</br>
<li>Oefenen met bekenden die goed zijn in het engels</li>
<li>Meer films kijken en boeken lezen</li>
<li>Oefeningen maken van internet</li>
<li>In de les proberen te gaan praten in het engels</li>
</p>

<p>
    Toekomst bewijslevering:</br>
<li>De oefeningen die ik ga maken</li>
<li>Getuigen</li>
</p>

<p>Aangedaan?</br>
Tijdens deze periode heb ik meerdere oefeningen gemaakt. Deze oefeningen waren voor mijn </br>
grammatica en woordenschat. Voor mijn woordenschat heb ik ook meerdere boeken en films </br>
gelezen en gekeken in het engels. Ook heb ik geprobeerd met een aantal vrienden in het </br>
het engels te praten. Als laatste heb ik veel gechat op forums en games. 

</p>
<p>Bewijs:</br>
<li>Boeken: Morgan Rice - Sorcerers Ring (deel 1,2,3,4)</li>
<li>Getuige/praatgenoot: Hollis Boer en Lars Boer</li>
<li><a href="http://wp.digischool.nl/engels/oefenen/" target="_blank">Website met oefeningen</a></li>
</p>
<p><b>Reflectie:</b></br>
Ik heb dit jaar mijn doelen gehaald. Dit komt door dat ik tijd heb ingestoken in mijn leerdoelen. </br>
Daardoor kreeg ik het gevoel dat ik vooruit ging. Ik heb er niet heel veel moeite gedaan voor de </br>
leerdoelen, omdat ik het erg druk had met school. Maar het is toch gelukt. Misschien had ik beter </br>
de tijd moeten indelen.  
</p>
{{/inline}}
{{~> layout/standard~}}