{{#*inline "content"}}
<h1 class="mt-5">De bedrijven markt van leerjaar 3</h1>
<p><b>Stap 1</b></p>
<p>eVect: (Student: Erik Euser)</br>

    Dit bedrijf lijkt me heel interessant want het richt op mobiele applicaties. Ik moet nog uitzoeken voor</br> welke platformen. Wat ik wil weten is welke projecten ze doen. 
Ik wil graag weten of er stage is voor mij. Wat kan ik doen tijdens de stage?
</p>
<p>Methylium: ()</br>

    Het lijkt me heel leuk om mee te doen met een volledige werkweek. Hier maken ze Windows software voor </br>alle platformen. Wat voor specifieke projecten hebben jullie zowel gedaan. Welke specifieke talen
    gebruiken jullie. Wat voor begeleiding is er? Wat zijn de stage eisen?</p>
<p>Nsecure: (Student: Arko Rietdijk)</br>
    Dit bedrijf doet aan security en safety oplossingen. Daar houd ik van. Welke programmeer talen komen </br>ervoor bij. Wat zijn de stage eisen. Wat zijn de stage procedures om te solliciteren. </p>
<p>bVivaLoyalty</br>
    Dan vooral in het gedeelte van backend met php, MYSQL en Javascript. Symfony2 moet ik dan nog even </br> uitzoeken. Welke projecten doen jullie? Wat voor stage eisen zijn er?</p>
<p>Student: Randa Bougrine()
    PHP programmeeur bij Codersacademy.</p>
</p>
<p><b>Stap 2</b></p>
<p>Ik ben naar de stage beurs geweest en ik heb daar zo'n 10 bedrijven gesproken.</p>
<p><b>Stap 3</b></p>

<img src="/web/20170328134859im_/http://www.mad-world.nl/app/Media/Images/CollageStage.jpg">
{{/inline}}
{{~> layout/standard~}}