{{#*inline "content"}}
			<h3 class="mt-5">De leerdoelen met de bewijzen</h3>
			<b>Leerjaar 1</b>
			<p><i>1. Ik wil aan het einde van de periode een ERD met daar bij horende database kunnen maken uit mijn hoofd. </i></p>
			<p>Ten eerste heb ik de toets gehaald van Analyse die over de ERD ging. Verder heb ik voor mij en iemand een database</br>
			opgezet. Hiervoor moest ik ook een ERD maken. Daarnaast heb ik nog mensen uit de klas geholpen bij zijn ERD.</br>
			Hierdoor heb ik problemen opgelost die ik zelf niet tegen was gekomen.</p>
                        
			<p><i>2. Ik wil aan het einde van de periode de vergaderingen vlot kan leiden en iedereen mee kan trekken.</i></p>
			<p>Het lukt me nu om veel om te praten tijdens de vergadering. Dat komt neer op dat ik nu een normaal gesprek</br> 
			kan voeren. Ik pak nu het woord als een beetje stil valt. Verder ben ik meer gesprekken aangegaan in de klas </br> 
			om te oefen met praten. Het gaat nu zeer goed met praten. Hier hoef ik niet echt meer aan werken. Verder heb </br>
			ik ook meer voorbereid voor de vergadering. Eerst wist ik niet zo goed hoe ik het allemaal moest vertellen. </br>
			Door eerst voor te bereiden kom ik meer uit mijn woorden. </p>
                        
			<p><i>3. Ik wil aan het einde van de periode de meeste nederlandse spelling uit kunnen halen, in plaats van nu lees ik veel overheen. </br>Dus dat wordt meer doorlezen.</i></p>
			<p>Ik heb mijn verslagen meer doorgelezen. Verder heb ik ze hardop gelezen om de zinnen goed te maken.</br>
			Dit heb ik gedaan bij analyse van periode 3. Het gaat nu al een stuk beter, maar het is nog steeds lastig. </br>
			Ik heb ook skills van periode 4 gehaald met een 8. Daar kwam taal ook erg in voor.   </p>
{{/inline}}
{{~> layout/standard~}}