{{#*inline "content"}}
<h1 class="mt-5">Leerdoelen</h1>
<h4>Terugblik op de studie</h4>
<p>De afgelopen vier heb ik veel geleerd van de opleiding. Ik ben er veel op vooruit gegaan. Dat zie je aan de snelheid en de gemakkelijkheid hoe ik programmeer problemen oplos. Aan het begin van de opleiding wist ik niet zo veel van programmeren, maar ik had van te voren al onderzocht wat programmeren was. Nu ga ik ook niet gelijk programmeren aan een project, maar ik ga eerst bedenken hoe ik een project ga opzetten door middel van bijvoorbeeld UML diagrammen. Dankzij de opleiding ben ik ook begonnen met een paar hobby projecten, daardoor heb ik nu veel meer plezier in het programmeren.   </p>
<p>De afgelopen jaren heb ik nog wat dingen gemist. Ik heb nu een bijbaan bij een bedrijf. Er zou misschien meer met de theorie een aansluiting moeten worden gevonden met het bedrijfsleven. Bijvoorbeeld misschien meer uitleg van structuren die veel gebruikt wordt in het bedrijfsleven. Verder had ik ook iets meer van de hardware willen leren. Ik weet van sommige onderwerpen wat het doet, maar we hebben helemaal geen les gehad over de impact of hoe de server met onze software omgaat. </p>
<p>De zwaarte van de opleiding is mij heel erg meegevallen. Er zaten misschien vakken bij die voor mij moeilijk waren, maar ik had genoeg tijd om de vakken te leren en te begrijpen. Op een bepaald moment verbaasde het me hoeveel code ik kon typen binnen een bepaalde tijd en hoe goed een programma kon worden die je zelf geschreven had. </p>
<p>Wat tegen viel was dat ik achter me de hele opleiding zag veranderen. Dit was wel ten goede van de opleiding. Als peercoach kon ik nog een beetje van die informatie mee pikken. Ook vond ik de gezelligheid van de klasgenoten tegenvallen. De sfeer was heel goed in alle klassen, maar de meeste klasgenoten wilden zo snel mogelijk naar huis.</p> 
<p>In de toekomst zou ik me graag tot security experts willen ontwikkelen. Na de opleiding zou ik graag cursussen volgen en hobby projecten willen ontwikkelen. Ik blijf ook naar evenementen gaan die de Minor Security heeft aanbevolen, zoals Hacker Talk en InfoSecurity. Deze evenementen heb ik veel van geleerd en er was ook veel praktijk gerichte workshops te volgen. Uiteindelijk hoop ik bij een bedrijf te komen waar ik de security kan verbeteren. Hierdoor krijg je werkervaring en dan wordt je ook gelijk beter in het vak, terwijl je betaalt krijgt.  </p>
<p>Tops: 
<ul>
    <li>Het niveau van de (nieuwe) leraren.</li>
    <li>Peercoaches voor de begeleiding van eerste jaars.</li>
    <li>De evenementen waren heel interessant en leuk. Vooral die van de Minor Security Lab. </li>
    <li>Het niveau van de lessen was hoog. Vooral die van het derde en het vierde jaar. </li>
</ul>
</p>
<p>
Tips:
<ul>
    <li>Soms kan de commutatie of sneller naar de studenten toe.  </li>
    <li>De projecten kunnen heel groot aanvoelen in verband met groepen van 5. Er is een hoge kans dat er 1 uitvalt. </li>
    <li>De digitale toets geeft soms problemen. Sommige mensen kunnen pas een kwartier later beginnen. </li>
</ul>
</p>

<h4>Reflecteren studentgerichte acties</h4>
<p>Leerdoel: <b>Aan het einde van periode 4 kan ik programmeren in een low level programeertaal rust</b></p>

<p>Het leerdoel is heel goed gegaan. Mijn oordeel is dat ik het leerdoel gehaald heb. Afgelopen jaar heb ik een aantal projecten gemaakt in rust. In het begin was het erg lastig, maar het werd steeds makkelijker na verloop van de tijd. Ik heb mijn portfolio in rust gemaakt, ik heb een applicatie voor het opslaan van de koers om vervolgens een grafiek te generen van de koerslijn. Als eerste had ik ook een rekenmachine gemaakt. In dit leerdoel heb ik veel tijd in gestoken, omdat ik het erg leuk begon te vinden. Op dit moment ben ik er nog steeds mee bezig om een leuk project af te maken. </p>
<p>Ik ben eerst begonnen met de documentatie te lezen. Deze voorbeelden ging ik eerst uitproberen, zodat ik een gevoel kreeg bij de structuur van rust. Ik heb de drie grootste projecten op Github gezet, maar ik heb nog veel meer geoefend op de taal. Daarnaast ben ik voorbeelden gaan zoeken op YouTube van Presentaties. Deze presentaties legden dan uit wat precies de voordelen zijn van rust en hoe dat allemaal effect heeft op de hardware. Door ook de theorie van de hardware te leren, ben ik ook beter in de andere programmeer talen te begrijpen. Verder heb ik ook meer Google Scolar onderzoeken proberen te lezen. Sommige vlakken was het te moeilijk, maar er waren ook genoeg stukken dat heel interessant was. </p>
<p>Ik heb er van deze acties geleerd om een hele snelle programma te maken, maar wel op een veilige manier. Het is niet eng om een nieuwe taal en structuur te leren aan jezelf. Dat komt door de taal, maar ik heb de theorie erachter ontdekt. Daardoor weet ik wat er achter de schermen gebeurt van het programma.  Ik ben nu ook meer van bewust om Google Scalor te gaan gebruiken. Dat je het niet alleen maar gaat gebruiken voor je eigen onderzoeken, maar dat het ook handig is voor leren of begrijpen van bepaalde onderwerpen. Deze artikelen staan er veel meer en vaak betere argumenten in dan gewoon Google bijvoorbeeld. </p>
<p>Wat ik in de toekomst meeneem is dat ik best snel een nieuwe programmeer taal kan leren. Deze taal heeft andere structuren dan normaal bij Java of C#. Door de theorie en praktijk te oefenen, gaat het toch best snel dat ik het begrijp. Ook ga ik nu meer verdiepen in de onderwerpen die ik erg interessant vindt. Dat zal me goed doen in het ontwikkelen van mijzelf en eventueel de community of een bedrijf waar ik terecht kom. Nu ik deze kennis tot mij beschikking heb, zou ik graag in de vakantie in de Open Source community kijken. Het grote voordeel is dat iedereen je code gaat bekijken en eventueel kritiek op uiten. </p>
<h3>Bewijzen:</h3>
<ul>
<li>Mijn github pagina: <a href="https://github.com/oveldman/slc">https://github.com/oveldman/slc</a></li>
<li>Documentatie Rust: <a href="https://doc.rust-lang.org/book/second-edition/index.html">https://doc.rust-lang.org/book/second-edition/index.html</a></li>
</ul>
<p><b>Google Scolar:</b></p>
<ul>
<li><a href="https://www.tockos.org/assets/papers/rust-kernel-apsys2017.pdf">rust-kernel-apsys2017.pdf</a></li>
<li><a href="https://www.cs.indiana.edu/~achauhan/Publications/Pubs/2013-hips-holk-rust.pdf">2013-hips-holk-rust.pdf</a></li>
<li><a href="http://spw15.langsec.org/papers/couprie-nom.pdf">couprie-nom.pdf</a></li>
</ul>
<h3>Bewijzen Stagebeurs:</h3>
    <img height="300" src="/content/img/stagebeurs.jpeg">

<h3>Bewijzen HBO-I-JOB event:</h3>
    <img height="300" src="/content/img/ijob.jpeg">
{{/inline}}
{{~> layout/standard~}}