{{#*inline "content"}}
<h1 class="mt-5">Projecten - Leerjaar 1</h1>

<h3><b>Filmpje</b></h3>

<a><img height="300" src="/content/img/filmpje.png"></a>

<p>Voor school voor periode 1 hebben we in een groepje van 5 een website <br/> gemaakt. Een bioscoop website 
die heet "<a href="filmpje.mad-world.nl">filmpje</a>".. Als je op de link drukt dan ga je er naar toe <br/>
Het is de eerste project die we voor school hebben gemaakt.</p>

<h3><b>Port of Rotterdam</b></h3>

<a><img height="300" src="/content/img/Port.png"></a>

<p>Voor school voor periode 2 hebben in een groepje van 4 een serious game gemaakt. Het onderwerp van het </br>
project was Rotterdamse haven. We moesten ervoor zorgen dat mensen geïnteresseerd raken in de beroepen in de haven. Het heet </br>
PortOfRotterdam</p>

<h3><b>Data Markt</b></h3>

<a><img height="300" src="/content/img/Data.png"></a>

<p>Voor school voor periode 3 hebben in een groepje van 5 een analyse project gemaakt. Het onderwerp van het </br>
project was de Markthal. Het project ging over dat we data moesten ophalen voor een opdrachtgever. Deze   </br>
gegevens moesten omgezet worden in grafieken. Deze gegevens komen van Twitter en Facebook vandaan. Het heet </br>
DataMarkt</p>

<h3><b>ChillTime</b></h3>
</div>
<a><img id="android" height="300" src="/content/img/ChillTime.jpeg"></a>
<a><img id="android" height="300" src="/content/img/Agenda.jpeg"></a>

<p>Voor school voor periode 4 hebben in een groepje van 4 een applicatie gemaakt voor Android. We mochten zelf </br>
verzinnen welk onderwerp het was. Het onderwerp werd een "vrienden of collega agenda app". Met deze app kan jij </br>
een groep aanmaken, en je kan daarna activiteiten inzetten. Deze kan je als groep allemaal bekijken met diegene </br>
die je toegevoegt hebt. Deze app heet:</br>
ChillTime</p>&nbsp;
</div>
{{/inline}}
{{~> layout/standard~}}