{{#*inline "content"}}
<h1 class="mt-5">Projecten - Leerjaar 3</h1>

<h3><b>VI Company label system</b></h3>

<img height="300" src="/content/img/vi.png">

<p>In de eerste twee periodes heb ik stage gelopen bij VI Company. Hier was de </br>
opdracht om een process van VI te verbeteren. Deze opdracht heb ik samen met een collega </br>
gemaakt. We hebben een vertaal systeem gemaakt. Normaal duurde het uren voor het vertalen, </br>
maar nu duurde dat maar een paar seconde. Dit programma had ook een mooie user interface, </br>
zodat andere collega's die geen programmeur zijn er ook gebruik kan van maken. </p>

<h3><b>Hogeschool klaslokaal reserveren</b></h3>

<img height="300" src="/content/img/HSR.png">

<p>De laatste twee periodes heb ik in een groep van 5 een reserverings systeem gemaakt </br>
voor hogeschool Rotterdam. Deze reserveringssystem is gemaakt voor studenten en </br>
leraren. Hierdoor kan je makkelijk de geschiedenis zien in het rooster en wat er </br>
er precies is verandert. </p>

{{/inline}}
{{~> layout/standard~}}