{{#*inline "content"}}
<div class="projectdiv">
<h1 class="mt-5">Projecten - Leerjaar 4</h1>

<h3><b>Security Lab Minor - StaySafe</b></h3>

<img height="300" src="/content/img/staysafe.jpg">

<p>Dit was een project van 6 weken. We moesten een applicatie bedenken die </br>
veel security functies had. Zowel het technishce vlak als voor de gebruiker. </br>
Wij bouwden een android applicatie die medewerkers in de gaten kan houden, </br>
zodat wanneer iemand in gevaar is. Dat er een alarm bij de contact personen </br>
afgaat. Deze contact persoon kan dan snel handelen, en is het gevaar sneller</br>
voorbij. </p>

<h3><b>Afstuderen</b></h3>

<p><i>In progress</i></p>
</div>
{{/inline}}
{{~> layout/standard~}}